@using System.Security.Claims;
@model IEnumerable<MarketMadeinSudan.Domin.Cart>

@{
    ViewData["Title"] = "سلة المشتريات";
    decimal total = 0;
    string username;
}

<style type="text/css">
    /*زر الشراء*/
    #buttonPay {
        position: relative;
        overflow: hidden;
        color: #18181a;
        display: inline-block;
        font-size: 20px;
        line-height: 15px;
        padding: 18px 18px 17px;
        text-decoration: none;
        cursor: pointer;
        background: #fff;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
    }

        #buttonPay span:first-child {
            position: relative;
            transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
            z-index: 10;
        }

        #buttonPay span:last-child {
            color: white;
            display: block;
            position: absolute;
            bottom: 0;
            transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
            z-index: 100;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translateY(225%) translateX(-50%);
            height: 14px;
            line-height: 13px;
        }

        #buttonPay:after {
            content: "";
            position: absolute;
            bottom: -50%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            transform-origin: bottom center;
            transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
            transform: skewY(9.3deg) scaleY(0);
            z-index: 50;
        }

        #buttonPay:hover:after {
            transform-origin: bottom center;
            transform: skewY(9.3deg) scaleY(2);
        }

        #buttonPay:hover span:last-child {
            transform: translateX(-50%) translateY(-50%);
            opacity: 1;
            transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
        }


    /*الدفع*/
    .payment {
        background: #f8f8f8;
        max-width: 360px;
        margin: 80px auto;
        height: auto;
        padding: 35px;
        padding-top: 70px;
        border-radius: 5px;
        position: relative;
    }

        .payment h2 {
            text-align: center;
            letter-spacing: 2px;
            margin-bottom: 40px;
            color: #0d3c61;
        }

    .form .label {
        display: block;
        color: #555555;
        margin-bottom: 6px;
    }

    .card-grp {
        display: flex;
        justify-content: space-between;
    }

    .card-item {
        width: 48%;
    }

    .space {
        margin-bottom: 20px;
    }

    .icon-relative {
        position: relative;
    }

        .icon-relative .fas,
        .icon-relative .far {
            position: absolute;
            bottom: 12px;
            left: 15px;
            font-size: 20px;
            color: #555555;
        }

    /*القايمة النسدلة*/
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 1px solid #ced4da;
        background: white;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: #000;
        cursor: pointer;
        font-size: 1em;
        text-align: center;
    }

        select::-ms-expand {
            display: none;
        }

    .select {
        position: relative;
        display: flex;
        height: 44px;
        line-height: 3;
        background: #5c6664;
        overflow: hidden;
        border-radius: .25em;
    }

        .select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            background: #b2baba;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
        }

        .select:hover::after {
            color: #23b499;
        }

    /*....*/
    .custom-num {
        display: flex;
        border: 1px #fff solid;
        border-radius: 3em;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
        font-family: initial;
    }

    .num-input::-webkit-outer-spin-button,
    .num-input::-webkit-inner-spin-button {
        _-webkit-appearance: none;
        margin: 0;
    }

    .num-input {
        text-align: center;
        color: #21d99b;
        font-weight: bold;
        width: 70px;
    }

        .num-input:focus {
            outline: none;
        }

    .custom-num i {
        font-size: 2em;
        cursor: pointer;
    }

    .regform {
        background-color: rgb(172, 171, 171);
        margin: auto;
        color: #ffffff;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 0px 0px 15px 15px;
        font-family: MyFont;
    }

    main.table {
        width: 82vw;
        height: 90vh;
        background-color: #fff5;
        backdrop-filter: blur(7px);
        box-shadow: 0 .4rem .8rem #0005;
        border-radius: .8rem;
        overflow: hidden;
    }

    .table__header {
        width: 100%;
        height: 10%;
        background-color: #fff4;
        padding: .8rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .table__header .input-group {
            width: 35%;
            height: 100%;
            background-color: #fff5;
            padding: 0 .8rem;
            border-radius: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s;
        }

            .table__header .input-group:hover {
                width: 45%;
                background-color: #fff8;
                box-shadow: 0 .1rem .4rem #0002;
            }

            .table__header .input-group img {
                width: 1.2rem;
                height: 1.2rem;
            }

            .table__header .input-group input {
                width: 100%;
                padding: 0 .5rem 0 .3rem;
                background-color: transparent;
                border: none;
                outline: none;
            }

    .table__body {
        width: 95%;
        max-height: calc(89% - 1.6rem);
        background-color: #fffb;
        margin: .8rem auto;
        border-radius: .6rem;
        overflow: auto;
        overflow: overlay;
    }

        .table__body::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        .table__body::-webkit-scrollbar-thumb {
            border-radius: .5rem;
            background-color: #0004;
            visibility: hidden;
        }

        .table__body:hover::-webkit-scrollbar-thumb {
            visibility: visible;
        }

    table {
        width: 100%;
    }

    td img {
        width: 36px;
        height: 36px;
        margin-right: .5rem;
        border-radius: 50%;
        vertical-align: middle;
    }

    table, th, td {
        border-collapse: collapse;
        padding: 1rem;
        text-align: left;
    }

    thead th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #d5d1defe;
        cursor: pointer;
        text-transform: capitalize;
    }

    tbody tr:nth-child(even) {
        background-color: #0000000b;
    }

    tbody tr {
        --delay: .1s;
        transition: .5s ease-in-out var(--delay), background-color 0s;
    }

        tbody tr.hide {
            opacity: 0;
            transform: translateX(100%);
        }

        tbody tr:hover {
            background-color: #fff6 !important;
        }

        tbody tr td,
        tbody tr td p,
        tbody tr td img {
            transition: .2s ease-in-out;
        }

        tbody tr.hide td,
        tbody tr.hide td p {
            padding: 0;
            font: 0 / 0 sans-serif;
            transition: .2s ease-in-out .5s;
        }

            tbody tr.hide td img {
                width: 0;
                height: 0;
                transition: .2s ease-in-out .5s;
            }

    .status {
        padding: .4rem 0;
        border-radius: 2rem;
        text-align: center;
    }

        .status.delivered {
            background-color: #86e49d;
            color: #006b21;
        }

        .status.cancelled {
            background-color: #d893a3;
            color: #b30021;
        }

        .status.pending {
            background-color: #ebc474;
        }

        .status.shipped {
            background-color: #6fcaea;
        }

    thead th span.icon-arrow {
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        border: 1.4px solid transparent;
        text-align: center;
        font-size: 1rem;
        margin-left: .5rem;
        transition: .2s ease-in-out;
    }

    thead th:hover span.icon-arrow {
        border: 1.4px solid #6c00bd;
    }

    thead th:hover {
        color: #6c00bd;
    }

    thead th.active span.icon-arrow {
        background-color: #6c00bd;
        color: #fff;
    }

    thead th.asc span.icon-arrow {
        transform: rotate(180deg);
    }

    thead th.active, tbody td.active {
        color: #6c00bd;
    }


    /*card*/
    .flip-card {
        background-color: transparent;
width: 271px;
height: 173px;
perspective: 1000px;
        color: white;
    }

    .heading_8264 {
        position: absolute;
        letter-spacing: .2em;
        font-size: 0.5em;
        top: 2em;
        left: 18.6em;
    }

    .logo {
        position: absolute;
        top: 6.8em;
        left: 11.7em;
    }

    .chip {
        position: absolute;
        top: 2.3em;
        left: 1.5em;
    }

    .contactless {
        position: absolute;
        top: 3.5em;
        left: 12.4em;
    }

    .number {
        position: absolute;
        font-weight: bold;
        font-size: .6em;
        top: 8.3em;
        left: 1.6em;
    }

    .valid_thru {
        position: absolute;
        font-weight: bold;
        top: 635.8em;
        font-size: .01em;
        left: 140.3em;
    }

    .date_8264 {
        position: absolute;
        font-weight: bold;
        font-size: 0.5em;
        top: 13.6em;
        left: 3.2em;
    }

    .name {
        position: absolute;
        font-weight: bold;
        font-size: 0.5em;
        top: 16.1em;
        left: 2em;
    }

    .strip {
        position: absolute;
        background-color: black;
        width: 15em;
        height: 1.5em;
        top: 2.4em;
        background: repeating-linear-gradient( 45deg, #303030, #303030 10px, #202020 10px, #202020 20px );
    }

    .mstrip {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 8em;
        height: 0.8em;
        top: 5em;
        left: .8em;
        border-radius: 2.5px;
    }

    .sstrip {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 4.1em;
        height: 0.8em;
        top: 5em;
        left: 10em;
        border-radius: 2.5px;
    }

    .code {
        font-weight: bold;
        text-align: center;
        margin: .2em;
        color: black;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1rem;
    }

    .flip-card-front {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
        background-color: #171717;
    }

    .flip-card-back {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
        background-color: #171717;
        transform: rotateY(180deg);
    }

    /*d*/
    button {
        position: relative;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        border-radius: 50px;
        background-color: hsl(255deg 50% 40%);
        border: solid 4px hsl(50deg 100% 50%);
        font-family: inherit;
    }

    .default-btn, .hover-btn {
        background-color: hsl(255deg 50% 40%);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all .3s ease;
    }

    .hover-btn {
        position: absolute;
        inset: 0;
        background-color: hsl(255deg 50% 49%);
        transform: translate(0%,100%);
    }

    .default-btn span {
        color: hsl(0, 0%, 100%);
    }

    .hover-btn span {
        color: hsl(50deg 100% 50%);
    }

    button:hover .default-btn {
        transform: translate(0%,-100%);
    }

    button:hover .hover-btn {
        transform: translate(0%,0%);
    }

    /*phone*/
    .ui-wrapper {
        --height: 40px;
        --background: #fff;
        --text-color: rgb(73, 73, 73);
        --border-color: rgb(185, 184, 184);
        --border-focus-color: rgb(0, 110, 255);
        --shadow-color: rgba(34, 60, 80, 0.2);
        --shadow-focus-color: rgba(0, 110, 255, 0.2);
        --dropdown-button-color: #e6e6e6;
        --dropdown-button-hover-color: #dad9d9;
    }

        .ui-wrapper *,
        .ui-wrapper *::before,
        .ui-wrapper *::after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: sans-serif;
            color: var(--text-color);
            margin-bottom: .0px;
        }

    .ui-wrapper {
        width: var(--width);
        height: 50px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 10px;
        position: relative;
        border: 1px solid var(--border-color);
        background-color: var(--background);
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-right: 10px;
        -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-color);
        box-shadow: 0px 2px 5px 0px var(--shadow-color);
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .ui-wrapper > input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
            left: 9999px;
        }

    .dropdown-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        border-radius: 9px 0 0 9px;
        background-color: var(--dropdown-button-color);
    }

        .dropdown-container::before {
            content: "🇦🇹";
            font-size: 20px;
            background: none !important;
        }

        .dropdown-container::after {
            content: "";
            background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDk0OTQ5IiB3aWR0aD0iNzAwcHQiIGhlaWdodD0iNzAwcHQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDcwMCA3MDAiCiAgICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxwYXRoCiAgICAgICAgZD0ibTM4MC4zOSA0ODQuNzkgMzA3LjA0LTMwNS45OWMxNi43NjYtMTcuODEyIDE2Ljc2Ni00NS4wNTkgMC02MS44MjgtMTYuNzY2LTE2Ljc2Ni00NS4wNTktMTYuNzY2LTYxLjgyOCAwbC0yNzUuNiAyNzUuNi0yNzUuNi0yNzUuNmMtMTcuODEyLTE2Ljc2Ni00NS4wNTktMTYuNzY2LTYxLjgyOCAwLTE2Ljc2NiAxNi43NjYtMTYuNzY2IDQ0LjAxMiAwIDYxLjgyOGwzMDUuOTkgMzA1Ljk5YzE3LjgxMiAxNi43NjYgNDUuMDU5IDE2Ljc2NiA2MS44MjggMHoiCiAgICAgICAgZmlsbC1ydWxlPSJjdXJyZW50Q29sb3IiIC8+Cjwvc3ZnPg==");
            width: 12px;
            height: 12px;
            background-position: center;
            background-size: cover;
            margin-left: 5px;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
        }

    .select-wrapper {
        width: var(--width);
        position: absolute;
        top: calc(var(--height) + 20px);
        left: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

        .select-wrapper ul {
            width: 100%;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            margin: 0;
            list-style: none;
            height: 300px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
            overflow-y: auto;
            white-space: nowrap;
        }

            .select-wrapper ul li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 5px;
                border-radius: 5px;
            }

                .select-wrapper ul li label {
                    width: 100%;
                }

                .select-wrapper ul li,
                .select-wrapper ul li * {
                    cursor: pointer;
                }

                    .select-wrapper ul li:hover {
                        background: lightgray;
                    }

                    .select-wrapper ul li span {
                        display: inline-block;
                        margin-right: 15px;
                    }

    .input-wrapper {
        width: 100%;
        padding-left: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 2px;
    }

        .input-wrapper legend {
            font-size: 11px;
        }

        .input-wrapper .textfield {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .input-wrapper .textfield::before {
                content: "+31";
                margin-right: 5px;
                white-space: nowrap;
            }

            .input-wrapper .textfield input {
                width: 100%;
                font-size: 16px;
                outline: none;
                border: none;
                background: none;
            }

    .invalid-msg {
        font-size: 12px;
        position: absolute;
        color: red;
        top: 115%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    /* actions */

    #phonenumber:invalid + .invalid-msg {
        top: 110%;
        opacity: 1;
        visibility: visible;
    }

    .ui-wrapper:focus-within {
        border-color: var(--border-focus-color);
        -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-focus-color);
        box-shadow: 0px 2px 5px 0px var(--shadow-focus-color);
    }

    .dropdown-container:hover {
        background-color: var(--dropdown-button-hover-color);
    }

    .dropdown-checkbox:checked ~ .select-wrapper {
        top: calc(var(--height) + 5px);
        opacity: 1;
        visibility: visible;
    }

    .dropdown-checkbox:checked + .dropdown-container::after {
        rotate: 180deg;
        translate: 0 -2px;
    }

    .ui-wrapper input#Austria:checked ~ .dropdown-container::before,
    .ui-wrapper input#Austria:checked ~ .select-wrapper li.Austria {
        content: "🇦🇹";
        background-color: lightgray;
    }

    .ui-wrapper input#Belgium:checked ~ .dropdown-container::before,
    .ui-wrapper input#Belgium:checked ~ .select-wrapper li.Belgium {
        content: "🇧🇪";
        background-color: lightgray;
    }

    .ui-wrapper input#Bulgaria:checked ~ .dropdown-container::before,
    .ui-wrapper input#Bulgaria:checked ~ .select-wrapper li.Bulgaria {
        content: "🇧🇬";
        background-color: lightgray;
    }

    .ui-wrapper input#Croatia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Croatia:checked ~ .select-wrapper li.Croatia {
        content: "🇭🇷";
        background-color: lightgray;
    }

    .ui-wrapper input#Cyprus:checked ~ .dropdown-container::before,
    .ui-wrapper input#Cyprus:checked ~ .select-wrapper li.Cyprus {
        content: "🇨🇾";
        background-color: lightgray;
    }

    .ui-wrapper input#Czech:checked ~ .dropdown-container::before,
    .ui-wrapper input#Czech:checked ~ .select-wrapper li.Czech {
        content: "🇨🇿";
        background-color: lightgray;
    }

    .ui-wrapper input#Denmark:checked ~ .dropdown-container::before,
    .ui-wrapper input#Denmark:checked ~ .select-wrapper li.Denmark {
        content: "🇩🇰";
        background-color: lightgray;
    }

    .ui-wrapper input#Estonia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Estonia:checked ~ .select-wrapper li.Estonia {
        content: "🇪🇪";
        background-color: lightgray;
    }

    .ui-wrapper input#Finland:checked ~ .dropdown-container::before,
    .ui-wrapper input#Finland:checked ~ .select-wrapper li.Finland {
        content: "🇫🇮";
        background-color: lightgray;
    }

    .ui-wrapper input#France:checked ~ .dropdown-container::before,
    .ui-wrapper input#France:checked ~ .select-wrapper li.France {
        content: "🇫🇷";
        background-color: lightgray;
    }

    .ui-wrapper input#Germany:checked ~ .dropdown-container::before,
    .ui-wrapper input#Germany:checked ~ .select-wrapper li.Germany {
        content: "🇩🇪";
        background-color: lightgray;
    }

    .ui-wrapper input#Greece:checked ~ .dropdown-container::before,
    .ui-wrapper input#Greece:checked ~ .select-wrapper li.Greece {
        content: "🇬🇷";
        background-color: lightgray;
    }

    .ui-wrapper input#Hungary:checked ~ .dropdown-container::before,
    .ui-wrapper input#Hungary:checked ~ .select-wrapper li.Hungary {
        content: "🇭🇺";
        background-color: lightgray;
    }

    .ui-wrapper input#Iceland:checked ~ .dropdown-container::before,
    .ui-wrapper input#Iceland:checked ~ .select-wrapper li.Iceland {
        content: "🇮🇸";
        background-color: lightgray;
    }

    .ui-wrapper input#Ireland:checked ~ .dropdown-container::before,
    .ui-wrapper input#Ireland:checked ~ .select-wrapper li.Ireland {
        content: "🇮🇪";
        background-color: lightgray;
    }

    .ui-wrapper input#Italy:checked ~ .dropdown-container::before,
    .ui-wrapper input#Italy:checked ~ .select-wrapper li.Italy {
        content: "🇮🇹";
        background-color: lightgray;
    }

    .ui-wrapper input#Latvia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Latvia:checked ~ .select-wrapper li.Latvia {
        content: "🇱🇻";
        background-color: lightgray;
    }

    .ui-wrapper input#Liechtenstein:checked ~ .dropdown-container::before,
    .ui-wrapper input#Liechtenstein:checked ~ .select-wrapper li.Liechtenstein {
        content: "🇱🇮";
        background-color: lightgray;
    }

    .ui-wrapper input#Lithuania:checked ~ .dropdown-container::before,
    .ui-wrapper input#Lithuania:checked ~ .select-wrapper li.Lithuania {
        content: "🇱🇹";
        background-color: lightgray;
    }

    .ui-wrapper input#Luxembourg:checked ~ .dropdown-container::before,
    .ui-wrapper input#Luxembourg:checked ~ .select-wrapper li.Luxembourg {
        content: "🇱🇺";
        background-color: lightgray;
    }

    .ui-wrapper input#Malta:checked ~ .dropdown-container::before,
    .ui-wrapper input#Malta:checked ~ .select-wrapper li.Malta {
        content: "🇲🇹";
        background-color: lightgray;
    }

    .ui-wrapper input#Netherlands:checked ~ .dropdown-container::before,
    .ui-wrapper input#Netherlands:checked ~ .select-wrapper li.Netherlands {
        content: "🇳🇱";
        background-color: lightgray;
    }

    .ui-wrapper input#Norway:checked ~ .dropdown-container::before,
    .ui-wrapper input#Norway:checked ~ .select-wrapper li.Norway {
        content: "🇳🇴";
        background-color: lightgray;
    }

    .ui-wrapper input#Poland:checked ~ .dropdown-container::before,
    .ui-wrapper input#Poland:checked ~ .select-wrapper li.Poland {
        content: "🇵🇱";
        background-color: lightgray;
    }

    .ui-wrapper input#Portugal:checked ~ .dropdown-container::before,
    .ui-wrapper input#Portugal:checked ~ .select-wrapper li.Portugal {
        content: "🇵🇹";
        background-color: lightgray;
    }

    .ui-wrapper input#Romania:checked ~ .dropdown-container::before,
    .ui-wrapper input#Romania:checked ~ .select-wrapper li.Romania {
        content: "🇷🇴";
        background-color: lightgray;
    }

    .ui-wrapper input#Slovakia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Slovakia:checked ~ .select-wrapper li.Slovakia {
        content: "🇸🇰";
        background-color: lightgray;
    }

    .ui-wrapper input#Slovenia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Slovenia:checked ~ .select-wrapper li.Slovenia {
        content: "🇸🇮";
        background-color: lightgray;
    }

    .ui-wrapper input#Spain:checked ~ .dropdown-container::before,
    .ui-wrapper input#Spain:checked ~ .select-wrapper li.Spain {
        content: "🇪🇸";
        background-color: lightgray;
    }

    .ui-wrapper input#Sweden:checked ~ .dropdown-container::before,
    .ui-wrapper input#Sweden:checked ~ .select-wrapper li.Sweden {
        content: "🇸🇪";
        background-color: lightgray;
    }



    .ui-wrapper input#Egypt:checked ~ .dropdown-container::before,
    .ui-wrapper input#Egypt:checked ~ .select-wrapper li.Sweden {
        content: "🇪🇬";
        background-color: lightgray;
    }

    .ui-wrapper input#Algeria:checked ~ .dropdown-container::before,
    .ui-wrapper input#Algeria:checked ~ .select-wrapper li.Sweden {
        content: "🇩🇿";
        background-color: lightgray;
    }

    .ui-wrapper input#Bahrain:checked ~ .dropdown-container::before,
    .ui-wrapper input#Bahrain:checked ~ .select-wrapper li.Sweden {
        content: "🇧🇭";
        background-color: lightgray;
    }

    .ui-wrapper input#Comoros:checked ~ .dropdown-container::before,
    .ui-wrapper input#Comoros:checked ~ .select-wrapper li.Sweden {
        content: "🇰🇲";
        background-color: lightgray;
    }

    .ui-wrapper input#Djibouti:checked ~ .dropdown-container::before,
    .ui-wrapper input#Djibouti:checked ~ .select-wrapper li.Sweden {
        content: "🇩🇯";
        background-color: lightgray;
    }

    .ui-wrapper input#Iraq:checked ~ .dropdown-container::before,
    .ui-wrapper input#Iraq:checked ~ .select-wrapper li.Sweden {
        content: "🇮🇶";
        background-color: lightgray;
    }

    .ui-wrapper input#Jordan:checked ~ .dropdown-container::before,
    .ui-wrapper input#Jordan:checked ~ .select-wrapper li.Sweden {
        content: "🇯🇴";
        background-color: lightgray;
    }

    .ui-wrapper input#Kuwait:checked ~ .dropdown-container::before,
    .ui-wrapper input#Kuwait:checked ~ .select-wrapper li.Sweden {
        content: "🇰🇼";
        background-color: lightgray;
    }

    .ui-wrapper input#Lebanon:checked ~ .dropdown-container::before,
    .ui-wrapper input#Lebanon:checked ~ .select-wrapper li.Sweden {
        content: "🇱🇧";
        background-color: lightgray;
    }

    .ui-wrapper input#Libya:checked ~ .dropdown-container::before,
    .ui-wrapper input#Libya:checked ~ .select-wrapper li.Sweden {
        content: "🇱🇾";
        background-color: lightgray;
    }

    .ui-wrapper input#Mauritania:checked ~ .dropdown-container::before,
    .ui-wrapper input#Mauritania:checked ~ .select-wrapper li.Sweden {
        content: "🇲🇷";
        background-color: lightgray;
    }

    .ui-wrapper input#Oman:checked ~ .dropdown-container::before,
    .ui-wrapper input#Oman:checked ~ .select-wrapper li.Sweden {
        content: "🇴🇲";
        background-color: lightgray;
    }

    .ui-wrapper input#Palestine:checked ~ .dropdown-container::before,
    .ui-wrapper input#Palestine:checked ~ .select-wrapper li.Sweden {
        content: "🇵🇸";
        background-color: lightgray;
    }

    .ui-wrapper input#Qatar:checked ~ .dropdown-container::before,
    .ui-wrapper input#Qatar:checked ~ .select-wrapper li.Sweden {
        content: "🇶🇦";
        background-color: lightgray;
    }

    .ui-wrapper input#SaudiArabia:checked ~ .dropdown-container::before,
    .ui-wrapper input#SaudiArabia:checked ~ .select-wrapper li.Sweden {
        content: "🇸🇦";
        background-color: lightgray;
    }

    .ui-wrapper input#Somalia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Somalia:checked ~ .select-wrapper li.Sweden {
        content: "🇸🇴";
        background-color: lightgray;
    }

    .ui-wrapper input#Sudan:checked ~ .dropdown-container::before,
    .ui-wrapper input#Sudan:checked ~ .select-wrapper li.Sweden {
        content: "🇸🇩";
        background-color: lightgray;
    }

    .ui-wrapper input#Syria:checked ~ .dropdown-container::before,
    .ui-wrapper input#Syria:checked ~ .select-wrapper li.Sweden {
        content: "🇸🇾";
        background-color: lightgray;
    }



    .ui-wrapper input#Tunisia:checked ~ .dropdown-container::before,
    .ui-wrapper input#Tunisia:checked ~ .select-wrapper li.Sweden {
        content: "🇹🇳";
        background-color: lightgray;
    }

    .ui-wrapper input#Morocco:checked ~ .dropdown-container::before,
    .ui-wrapper input#Morocco:checked ~ .select-wrapper li.Sweden {
        content: "🇲🇦";
        background-color: lightgray;
    }

    .ui-wrapper input#UnitedArabEmiratesUAE:checked ~ .dropdown-container::before,
    .ui-wrapper input#UnitedArabEmiratesUAE:checked ~ .select-wrapper li.Sweden {
        content: "🇦🇪";
        background-color: lightgray;
    }

    .ui-wrapper input#Yemen:checked ~ .dropdown-container::before,
    .ui-wrapper input#Yemen:checked ~ .select-wrapper li.Sweden {
        content: "🇾🇪";
        background-color: lightgray;
    }

    .ui-wrapper input#Egypt:checked ~ .input-wrapper .textfield::before {
        content: "+20";
    }

    .ui-wrapper input#Comoros:checked ~ .input-wrapper .textfield::before {
        content: "+269";
    }

    .ui-wrapper input#Djibouti:checked ~ .input-wrapper .textfield::before {
        content: "+253";
    }

    .ui-wrapper input#Syria:checked ~ .input-wrapper .textfield::before {
        content: "+963";
    }

    .ui-wrapper input#Tunisia:checked ~ .input-wrapper .textfield::before {
        content: "+216";
    }

    .ui-wrapper input#SaudiArabia:checked ~ .input-wrapper .textfield::before {
        content: "+966";
    }

    .ui-wrapper input#Morocco:checked ~ .input-wrapper .textfield::before {
        content: "+212";
    }

    .ui-wrapper input#UAE:checked ~ .input-wrapper .textfield::before {
        content: "+971";
    }

    .ui-wrapper input#Bahrain:checked ~ .input-wrapper .textfield::before {
        content: "+973";
    }

    .ui-wrapper input#Algeria:checked ~ .input-wrapper .textfield::before {
        content: "+213";
    }

    .ui-wrapper input#Iraq:checked ~ .input-wrapper .textfield::before {
        content: "+964";
    }

    .ui-wrapper input#Jordan:checked ~ .input-wrapper .textfield::before {
        content: "+962";
    }

    .ui-wrapper input#Kuwait:checked ~ .input-wrapper .textfield::before {
        content: "+965";
    }

    .ui-wrapper input#Lebanon:checked ~ .input-wrapper .textfield::before {
        content: "+961";
    }

    .ui-wrapper input#Libya:checked ~ .input-wrapper .textfield::before {
        content: "+218";
    }

    .ui-wrapper input#Mauritania:checked ~ .input-wrapper .textfield::before {
        content: "+222";
    }

    .ui-wrapper input#Oman:checked ~ .input-wrapper .textfield::before {
        content: "+968";
    }

    .ui-wrapper input#Palestine:checked ~ .input-wrapper .textfield::before {
        content: "+970";
    }

    .ui-wrapper input#Qatar:checked ~ .input-wrapper .textfield::before {
        content: "+974";
    }

    .ui-wrapper input#Somalia:checked ~ .input-wrapper .textfield::before {
        content: "+252";
    }

    .ui-wrapper input#Sudan:checked ~ .input-wrapper .textfield::before {
        content: "+249";
    }

    .ui-wrapper input#Yemen:checked ~ .input-wrapper.textfield::before {
        content: "+967";
    }

    .ui-wrapper input#Austria:checked ~ .input-wrapper .textfield::before {
        content: "+43";
    }

    .ui-wrapper input#Belgium:checked ~ .input-wrapper .textfield::before {
        content: "+32";
    }

    .ui-wrapper input#Bulgaria:checked ~ .input-wrapper .textfield::before {
        content: "+359";
    }

    .ui-wrapper input#Croatia:checked ~ .input-wrapper .textfield::before {
        content: "+385";
    }

    .ui-wrapper input#Cyprus:checked ~ .input-wrapper .textfield::before {
        content: "+357";
    }

    .ui-wrapper input#Czech:checked ~ .input-wrapper .textfield::before {
        content: "+420";
    }

    .ui-wrapper input#Denmark:checked ~ .input-wrapper .textfield::before {
        content: "+45";
    }

    .ui-wrapper input#Estonia:checked ~ .input-wrapper .textfield::before {
        content: "+372";
    }

    .ui-wrapper input#Finland:checked ~ .input-wrapper .textfield::before {
        content: "+358";
    }

    .ui-wrapper input#France:checked ~ .input-wrapper .textfield::before {
        content: "+33";
    }

    .ui-wrapper input#Germany:checked ~ .input-wrapper .textfield::before {
        content: "+49";
    }

    .ui-wrapper input#Greece:checked ~ .input-wrapper .textfield::before {
        content: "+30";
    }

    .ui-wrapper input#Hungary:checked ~ .input-wrapper .textfield::before {
        content: "+36";
    }

    .ui-wrapper input#Iceland:checked ~ .input-wrapper .textfield::before {
        content: "+354";
    }

    .ui-wrapper input#Ireland:checked ~ .input-wrapper .textfield::before {
        content: "+353";
    }

    .ui-wrapper input#Italy:checked ~ .input-wrapper .textfield::before {
        content: "+39";
    }

    .ui-wrapper input#Latvia:checked ~ .input-wrapper .textfield::before {
        content: "+371";
    }

    .ui-wrapper input#Liechtenstein:checked ~ .input-wrapper .textfield::before {
        content: "+423";
    }

    .ui-wrapper input#Lithuania:checked ~ .input-wrapper .textfield::before {
        content: "+370";
    }

    .ui-wrapper input#Luxembourg:checked ~ .input-wrapper .textfield::before {
        content: "+352";
    }

    .ui-wrapper input#Malta:checked ~ .input-wrapper .textfield::before {
        content: "+356";
    }

    .ui-wrapper input#Netherlands:checked ~ .input-wrapper .textfield::before {
        content: "+31";
    }

    .ui-wrapper input#Norway:checked ~ .input-wrapper .textfield::before {
        content: "+47";
    }

    .ui-wrapper input#Poland:checked ~ .input-wrapper .textfield::before {
        content: "+48";
    }

    .ui-wrapper input#Portugal:checked ~ .input-wrapper .textfield::before {
        content: "+351";
    }

    .ui-wrapper input#Romania:checked ~ .input-wrapper .textfield::before {
        content: "+40";
    }

    .ui-wrapper input#Slovakia:checked ~ .input-wrapper .textfield::before {
        content: "+421";
    }

    .ui-wrapper input#Slovenia:checked ~ .input-wrapper .textfield::before {
        content: "+386";
    }

    .ui-wrapper input#Spain:checked ~ .input-wrapper .textfield::before {
        content: "+34";
    }

    .ui-wrapper input#Sweden:checked ~ .input-wrapper .textfield::before {
        content: "+46";
    }

</style>

<div class="container">
    <div class="row">
        @if (Model.Count() > 0)
        {
            <div class="container">
                @{
                    if (TempData["fail"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["fail"]
                        </div>
                    }
                    if (TempData["success"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["success"]
                        </div>
                    }
                }

                <div class="row">
                    <div class="col-md-6 col-lg-6 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">سلة مشترياتك</span>
                        </h4>

                        <div class="row g-5">
                            <div class="col-md-12 col-lg-12 order-md-last">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">سلتي</span>
                                    <a class="badge bg-primary rounded-pill">
                                        اصنافي
                                    </a>
                                </h4>
                                <section class="table__body">
                                    <table style="border-style: double;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    اسم المنتج
                                                </th>
                                                <th>
                                                    سعر المنتج
                                                </th>
                                                <th>
                                                    سعر جملة المنتج
                                                </th>
                                                <th>
                                                    كمية المنتج
                                                </th>
                                                <th>
                                                    اجراء
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Subitem in Model)
                                            {
                                                <tr>
                                                    <td> <h6 style="color:#21d99b;text-align: center;" class="my-0">@Subitem.ProductName</h6></td>
                                                    <td style="font-family: initial;color:#21d99b;font-weight: bold;text-align: center;"> <span class="text-body-secondary">@Subitem.Price</span> </td>
                                                    <td style="font-family: initial;color:#21d99b;font-weight: bold;text-align: center;"> <span class="text-body-secondary">@(Subitem.Count * Subitem.Price)</span> </td>
                                                    <td>
@*                                                        <div class="row">
                                                            <a asp-action="Minus" asp-route-id="@Subitem.ProductId" class="btn btn-sm btn btn-danger" style="width:38px;font-size: 20px;">-</a>
*@
                                                        <p style="color:#21d99b;text-align: center;font-size: 20px;margin-bottom: 0px;">@Subitem.Count</p>

                                                        @*                                                            <a asp-action="Plus" asp-route-id="@Subitem.ProductId" class="btn btn-sm btn btn-success" style="width:38px;font-size: 20px;">
                                                                <input type="hidden" name="Quantity" value="@Subitem.Count">+
                                                            </a>
*@
@*                                                        </div>
*@                                                    </td>
                                                    <td>
                                                        <button class="deleteBtn bi bi-trash btn btn-sm btn-outline-danger" data-id="@Subitem.ProductId"></button>
                                                    </td>
                                                    @{
                                                        total += (Subitem.Count * Subitem.Price);
                                                    }

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="regform">
                                        <span id="total">@total</span>
                                        <span>(USD) المجموع</span>
                                    </div>
                                </section>
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info fa fa-rotate-back col-lg-12">مواصلة التسوق</a>
                            </div>
                        </div>
                    </div>

                    @{
                        Guid BillingAddressId = Guid.Empty;
                        string firstname = "";
                        string lastname = "";
                        string Username = "";
                        string email = "";
                        string address = "";
                        int phone = 0;
                        string country = "";
                        int zip = 0;
                        Guid PaymentId = Guid.Empty;
                        string cardtype = "";
                        string cardname = "";
                        long cardnumber = 0;
                        DateTime expire = DateTime.Now.Date;
                        int cvv = 0;
                        DateTime? tmpDate = null;

                        if (ViewBag.Bill != null)
                        {
                            foreach (var item in ViewBag.Bill)
                            {
                                BillingAddressId = item.BillingAddressId;
                                firstname = item.firstName;
                                lastname = item.lastName;
                                Username = item.UserName;
                                email = item.Email;
                                address = item.Address;
                                country = item.Country;
                                zip = item.Zip;
                                break;
                            }
                        }
                        if (ViewBag.Pay != null)
                        {
                            foreach (var item in ViewBag.Pay)
                            {
                                PaymentId = item.PaymentId;
                                cardtype = item.cardType;
                                cardname = item.cardName;
                                cardnumber = item.cardNumber;
                                expire = item.expiration;
                                tmpDate = expire;
                                cvv = item.cvv;
                                break;
                            }
                        }
                    }

                    <div class="col-md-6 col-lg-6 ">
                        <h4 class="mb-3">بيانات الشراء</h4>
                        <form role="form" method="post" asp-controller="OrderDetails" asp-action="Create" class="needs-validation" novalidate>
                            <div class="row">
                                <input type="hidden" name="Total" class="form-control" id="Total" placeholder="" value="@total" required="">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">الاسم الأول</label>
                                    <input style="text-align:center" type="text" name="firstname" class="form-control" id="firstName" placeholder="" value="@firstname" required="">
                                    <div class="invalid-feedback">
                                        الاسم الاول مطلوب
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">اسم العائلة</label>
                                    <input style="text-align:center" type="text" name="lastname" class="form-control" id="lastName" placeholder="" value="@lastname" required="">
                                    <div class="invalid-feedback">
                                        اسم العائلة مطلوب
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="username">اسم المستخدم</label>
                                @{
                                    username = User.FindFirst(ClaimTypes.Name).Value;
                                }
                                <div class="input-group" style="direction: ltr;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"style="height: 100%;">@("@")</span>
                                    </div>
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="@username" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="email">البريد الالكتروني</label>
                                    @{
                                        email = User.FindFirst(ClaimTypes.Email).Value;
                                    }
                                    <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com" value="@email" required>
                                    <div class="invalid-feedback">
                                        الرجاء ادخال بريد الكتروني صالح لاعلامك بالمستجدات
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="Phone">الهاتف</label>
                                    <div class="ui-wrapper" style="direction: ltr;">
                                        <input checked="" id="Sudan" name="flag " type="radio">
                                        <input id="Egypt" name="flag" type="radio">
                                        <input id="Algeria" name="flag" type="radio">
                                        <input id="Bahrain" name="flag" type="radio">
                                        <input id="Comoros" name="flag" type="radio">
                                        <input id="Djibouti" name="flag" type="radio">
                                        <input id="Iraq" name="flag" type="radio">
                                        <input id="Jordan" name="flag" type="radio">
                                        <input id="Kuwait" name="flag" type="radio">
                                        <input id="Lebanon" name="flag" type="radio">
                                        <input id="Libya" name="flag" type="radio">
                                        <input id="Mauritania" name="flag" type="radio">
                                        <input id="Morocco" name="flag" type="radio">
                                        <input id="Oman" name="flag" type="radio">
                                        <input id="Palestine" name="flag" type="radio">
                                        <input id="Qatar" name="flag " type="radio">
                                        <input id="SaudiArabia" name="flag " type="radio">
                                        <input id="Somalia" name="flag " type="radio">
                                        <input id="Syria" name="flag " type="radio">
                                        <input id="Tunisia" name="flag " type="radio">
                                        <input id="United Arab Emirates (UAE) " name="flag " type="radio">
                                        <input id="Yemen" name="flag  " type="radio">
                                        <input id="Austria" name="flag" type="radio">
                                        <input id="Belgium" name="flag" type="radio">
                                        <input id="Bulgaria" name="flag" type="radio">
                                        <input id="Croatia" name="flag" type="radio">
                                        <input id="Cyprus" name="flag" type="radio">
                                        <input id="Czech" name="flag" type="radio">
                                        <input id="Denmark" name="flag" type="radio">
                                        <input id="Estonia" name="flag" type="radio">
                                        <input id="Finland" name="flag" type="radio">
                                        <input id="France" name="flag" type="radio">
                                        <input id="Germany" name="flag" type="radio">
                                        <input id="Greece" name="flag" type="radio">
                                        <input id="Hungary" name="flag" type="radio">
                                        <input id="Iceland" name="flag" type="radio">
                                        <input id="Ireland" name="flag" type="radio">
                                        <input id="Italy" name="flag" type="radio">
                                        <input id="Latvia" name="flag" type="radio">
                                        <input id="Liechtenstein" name="flag" type="radio">
                                        <input id="Lithuania" name="flag" type="radio">
                                        <input id="Luxembourg" name="flag" type="radio">
                                        <input id="Malta" name="flag" type="radio">
                                        <input id="Netherlands" name="flag" type="radio">
                                        <input id="Norway" name="flag" type="radio">
                                        <input id="Poland" name="flag" type="radio">
                                        <input id="Portugal" name="flag" type="radio">
                                        <input id="Romania" name="flag" type="radio">
                                        <input id="Slovakia" name="flag" type="radio">
                                        <input id="Slovenia" name="flag" type="radio">
                                        <input id="Spain" name="flag" type="radio">
                                        <input id="Sweden" name="flag" type="radio">
                                        <input class="dropdown-checkbox" name="dropdown" id="dropdown" type="checkbox">
                                        <label class="dropdown-container" for="dropdown"></label>
                                        <div class="input-wrapper">
                                            <div class="textfield">
                                                <input pattern="\d+" maxlength="9" id="phonenumber" type="text" name="Phone" placeholder="PhoneNumber" required="">
                                    <div class="invalid-feedback">
                                        الهاتف مطلوب لتواصل معك
                                    </div>
                                            </div>
                                        </div>
                                        <div class="select-wrapper">
                                            <ul>
                                                <li class="Sudan"><label for="Sudan"><span>🇸🇩</span>Sudan (+249)</label></li>
                                                <li class="Egypt"><label for="Egypt"><span>🇪🇬</span>Egypt (+20)</label></li>
                                                <li class="Algeria"><label for="Algeria"><span>🇩🇿</span>Algeria (+213)</label></li>
                                                <li class="Bahrain"><label for="Bahrain"><span>🇧🇭</span>Bahrain (+973)</label></li>
                                                <li class="Comoros"><label for="Comoros"><span>🇰🇲</span>Comoros (+269)</label></li>
                                                <li class="Djibouti"><label for="Djibouti"><span>🇩🇯</span>Djibouti (+253)</label></li>
                                                <li class="Iraq"><label for="Iraq"><span>🇮🇶</span>Iraq (+964)</label></li>
                                                <li class="Jordan"><label for="Jordan"><span>🇯🇴</span>Jordan (+962)</label></li>
                                                <li class="Kuwait"><label for="Kuwait"><span>🇰🇼</span>Kuwait (+965)</label></li>
                                                <li class="Lebanon"><label for="Lebanon"><span>🇱🇧</span>Lebanon (+961)</label></li>
                                                <li class="Libya"><label for="Libya"><span>🇱🇾</span>Libya (+218)</label></li>
                                                <li class="Mauritania"><label for="Mauritania"><span>🇲🇷</span>Mauritania (+222)</label></li>
                                                <li class="Morocco"><label for="Morocco"><span>🇲🇦</span>Morocco (+212)</label></li>
                                                <li class="Oman"><label for="Oman"><span>🇴🇲</span>Oman (+968)</label></li>
                                                <li class="Palestine"><label for="Palestine"><span>🇵🇸</span>Palestine (+970)</label></li>
                                                <li class="Qatar"><label for="Qatar"><span>🇶🇦</span>Qatar (+974)</label></li>
                                                <li class="SaudiArabia"><label for="SaudiArabia"><span>🇸🇦</span>SaudiArabia (+966)</label></li>
                                                <li class="Somalia"><label for="Somalia"><span>🇸🇴</span>Somalia (+252)</label></li>
                                                <li class="Syria"><label for="Syria"><span>🇸🇾</span>Syria (+963)</label></li>
                                                <li class="Tunisia"><label for="Tunisia"><span>🇹🇳</span>Tunisia (+216)</label></li>
                                                <li class="United Arab Emirates (UAE)"><label for="United Arab Emirates (UAE)"><span>🇦🇪</span>United Arab Emirates (UAE) (+971)</label></li>
                                                <li class="Yemen"><label for="Yemen"><span>🇾🇪</span>Yemen  (+967)</label></li>
                                                <li class="Austria"><label for="Austria"><span>🇦🇹</span>Austria (+43)</label></li>
                                                <li class="Belgium"><label for="Belgium"><span>🇧🇪</span>Belgium (+32)</label></li>
                                                <li class="Bulgaria"><label for="Bulgaria"><span>🇧🇬</span>Bulgaria (+359)</label></li>
                                                <li class="Croatia"><label for="Croatia"><span>🇭🇷</span>Croatia (+385)</label></li>
                                                <li class="Cyprus"><label for="Cyprus"><span>🇨🇾</span>Cyprus (+357)</label></li>
                                                <li class="Czech"><label for="Czech"><span>🇨🇿</span>Czech Republic (+420)</label></li>
                                                <li class="Denmark"><label for="Denmark"><span>🇩🇰</span>Denmark (+45)</label></li>
                                                <li class="Estonia"><label for="Estonia"><span>🇪🇪</span>Estonia (+372)</label></li>
                                                <li class="Finland"><label for="Finland"><span>🇫🇮</span>Finland (+358)</label></li>
                                                <li class="France"><label for="France"><span>🇫🇷</span>France (+33)</label></li>
                                                <li class="Germany"><label for="Germany"><span>🇩🇪</span>Germany (+49)</label></li>
                                                <li class="Greece"><label for="Greece"><span>🇬🇷</span>Greece (+30)</label></li>
                                                <li class="Hungary"><label for="Hungary"><span>🇭🇺</span>Hungary (+36)</label></li>
                                                <li class="Iceland"><label for="Iceland"><span>🇮🇸</span>Iceland (+354)</label></li>
                                                <li class="Ireland"><label for="Ireland"><span>🇮🇪</span>Republic of Ireland (+353)</label></li>
                                                <li class="Italy"><label for="Italy"><span>🇮🇹</span>Italy (+39)</label></li>
                                                <li class="Latvia"><label for="Latvia"><span>🇱🇻</span>Latvia (+371)</label></li>
                                                <li class="Liechtenstein"><label for="Liechtenstein"><span>🇱🇮</span>Liechtenstein (+423)</label></li>
                                                <li class="Lithuania"><label for="Lithuania"><span>🇱🇹</span>Lithuania (+370)</label></li>
                                                <li class="Luxembourg"><label for="Luxembourg"><span>🇱🇺</span>Luxembourg (+352)</label></li>
                                                <li class="Malta"><label for="Malta"><span>🇲🇹</span>Malta (+356)</label></li>
                                                <li class="Netherlands"><label for="Netherlands"><span>🇳🇱</span>Netherlands (+31)</label></li>
                                                <li class="Norway"><label for="Norway"><span>🇳🇴</span>Norway (+47)</label></li>
                                                <li class="Poland"><label for="Poland"><span>🇵🇱</span>Poland (+48)</label></li>
                                                <li class="Portugal"><label for="Portugal"><span>🇵🇹</span>Portugal (+351)</label></li>
                                                <li class="Romania"><label for="Romania"><span>🇷🇴</span>Romania (+40)</label></li>
                                                <li class="Slovakia"><label for="Slovakia"><span>🇸🇰</span>Slovakia (+421)</label></li>
                                                <li class="Slovenia"><label for="Slovenia"><span>🇸🇮</span>Slovenia (+386)</label></li>
                                                <li class="Spain"><label for="Spain"><span>🇪🇸</span>Spain (+34)</label></li>
                                                <li class="Sweden"><label for="Sweden"><span>🇸🇪</span>Sweden (+46)</label></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address">العنوان</label>
                                <input type="text" style="text-align:center" name="address" class="form-control" id="address" placeholder="1234 المنطقة الشارع" value="@address" required="">
                                <div class="invalid-feedback">
                                    العنوان مطلوب لارسال طلبك لك
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="hidden" name="Status" class="form-control" id="Status" value="InProcess">
                            </div>
                            <div class="mb-3">
                                <input type="hidden" name="MeasruingUnit" class="form-control" id="MeasruingUnit">
                            </div>

                            <div class="mb-3">
                                <input type="hidden" name="AddressCompany" class="form-control" id="AddressCompany">
                            </div>
                            <div class="mb-3">
                                <input type="hidden" name="PhoneCompany" class="form-control" id="PhoneCompany">
                            </div>

                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">مكان الاقامة</label>
                                    <div class="select" style="margin-bottom: 20px;">
                                        <select name="country" id="country">
                                            <option selected disabled>اختار البلد</option>
                                            <option>السودان</option>
                                            <option> جنوب السودان </option>
                                            <option>الجزائر</option>
                                            <option>البحرين</option>
                                            <option>جيبوتي</option>
                                            <option>مصر</option>
                                            <option>العراق</option>
                                            <option>الأردن</option>
                                            <option>الكويت</option>
                                            <option>لبنان</option>
                                            <option>لبنان</option>
                                            <option>ليبيا</option>
                                            <option>موريتانيا</option>
                                            <option>المغرب</option>
                                            <option>عُمان</option>
                                            <option>فلسطين</option>
                                            <option>قطر</option>
                                            <option>الصومال</option>
                                            <option>السودان</option>
                                            <option>سوريا</option>
                                            <option>تونس</option>
                                            <option>الإمارات العربية المتحدة</option>
                                            <option>اليمن</option>
                                            <option>المملكة العربية السعودية</option>
                                            <option>أنغولا</option>
                                            <option>بنين</option>
                                            <option>بوتسوانا</option>
                                            <option>بروناي</option>
                                            <option>بوركينا فاسو</option>
                                            <option>بوروندي</option>
                                            <option>الكاميرون</option>
                                            <option>الرأس الأخضر</option>
                                            <option>جزر القمر</option>
                                            <option>ساحل العاج</option>
                                            <option>جيبوتي</option>
                                            <option>غينيا الإستوائية</option>
                                            <option>إثيوبيا</option>
                                            <option>الغابون</option>
                                            <option>غامبيا</option>
                                            <option>غانا</option>
                                            <option>غينيا</option>
                                            <option>غينيا بيساو</option>
                                            <option>كينيا</option>
                                            <option>ليسوتو</option>
                                            <option>ليبيريا</option>
                                            <option>مدغشقر</option>
                                            <option>ملاوي</option>
                                            <option>مالي</option>
                                            <option>موريتانيا</option>
                                            <option>موريشيوس</option>
                                            <option>المغرب</option>
                                            <option>موزمبيق</option>
                                            <option>ناميبيا</option>
                                            <option>النيجر</option>
                                            <option>نيجيريا</option>
                                            <option>رواندا</option>
                                            <option>سان توم وبرنسیپی</option>
                                            <option> السنغال </option>
                                            <option> سیشل </option>
                                            <option> سیرالیون </option>
                                            <option> الصومال </option>
                                            <option> جنوب أفريقيا </option>
                                            <option> سوازيلاند </option>
                                            <option> تانزانیا </option>
                                            <option> توغو </option>
                                            <option> أوغندا </option>
                                            <option> زامبیا </option>
                                            <option> زمبابوه </option>

                                        </select>
                                    </div>
                                    <div class="invalid-feedback">
                                        يرجي اختيار مكان الاقامة
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">ترميز البلد</label>
                                    <input style="text-align:center" type="text" name="zip" class="form-control" id="zip" data-mask="00000" placeholder="00000" value="" required="">
                                    <div class="invalid-feedback">
                                        يرجي ادخال ترميز بلدك
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">

                            <h4 class="mb-3">بيانات الدفع</h4>
                            <br /><br />
                            <div class="flip-card"style="direction: ltr;">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <p class="heading_8264">MASTERCARD</p>
                                        <svg class="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 48 48">
                                            <path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z"></path>
                                            <path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z"></path>
                                            <path fill="#ff3d00" d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z"></path>
                                        </svg>
                                        <svg version="1.1" class="chip" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 50 50" xml:space="preserve">  <image id="image0" width="50" height="50" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
              AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAB6VBMVEUAAACNcTiVeUKVeUOY
              fEaafEeUeUSYfEWZfEaykleyklaXe0SWekSZZjOYfEWYe0WXfUWXe0WcgEicfkiXe0SVekSXekSW
              ekKYe0a9nF67m12ZfUWUeEaXfESVekOdgEmVeUWWekSniU+VeUKVeUOrjFKYfEWliE6WeESZe0GS
              e0WYfES7ml2Xe0WXeESUeEOWfEWcf0eWfESXe0SXfEWYekSVeUKXfEWxklawkVaZfEWWekOUekOW
              ekSYfESZe0eXekWYfEWZe0WZe0eVeUSWeETAnmDCoWLJpmbxy4P1zoXwyoLIpWbjvXjivnjgu3bf
              u3beunWvkFWxkle/nmDivXiWekTnwXvkwHrCoWOuj1SXe0TEo2TDo2PlwHratnKZfEbQrWvPrWua
              fUfbt3PJp2agg0v0zYX0zYSfgkvKp2frxX7mwHrlv3rsxn/yzIPgvHfduXWXe0XuyIDzzISsjVO1
              lVm0lFitjVPzzIPqxX7duna0lVncuHTLqGjvyIHeuXXxyYGZfUayk1iyk1e2lln1zYTEomO2llrb
              tnOafkjFpGSbfkfZtXLhvHfkv3nqxH3mwXujhU3KqWizlFilh06khk2fgkqsjlPHpWXJp2erjVOh
              g0yWe0SliE+XekShhEvAn2D///+gx8TWAAAARnRSTlMACVCTtsRl7Pv7+vxkBab7pZv5+ZlL/UnU
              /f3SJCVe+Fx39naA9/75XSMh0/3SSkia+pil/KRj7Pr662JPkrbP7OLQ0JFOijI1MwAAAAFiS0dE
              orDd34wAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0IDx2lsiuJAAACLElEQVRIx2Ng
              GAXkAUYmZhZWPICFmYkRVQcbOwenmzse4MbFzc6DpIGXj8PD04sA8PbhF+CFaxEU8iWkAQT8hEVg
              OkTF/InR4eUVICYO1SIhCRMLDAoKDvFDVhUaEhwUFAjjSUlDdMiEhcOEItzdI6OiYxA6YqODIt3d
              I2DcuDBZsBY5eVTr4xMSYcyk5BRUOXkFsBZFJTQnp6alQxgZmVloUkrKYC0qqmji2WE5EEZuWB6a
              lKoKdi35YQUQRkFYPpFaCouKIYzi6EDitJSUlsGY5RWVRGjJLyxNy4ZxqtIqqvOxaVELQwZFZdkI
              JVU1RSiSalAt6rUwUBdWG1CP6pT6gNqwOrgCdQyHNYR5YQFhDXj8MiK1IAeyN6aORiyBjByVTc0F
              qBoKWpqwRCVSgilOaY2OaUPw29qjOzqLvTAchpos47u6EZyYnngUSRwpuTe6D+6qaFQdOPNLRzOM
              1dzhRZyW+CZouHk3dWLXglFcFIflQhj9YWjJGlZcaKAVSvjyPrRQ0oQVKDAQHlYFYUwIm4gqExGm
              BSkutaVQJeomwViTJqPK6OhCy2Q9sQBk8cY0DxjTJw0lAQWK6cOKfgNhpKK7ZMpUeF3jPa28BCET
              amiEqJKM+X1gxvWXpoUjVIVPnwErw71nmpgiqiQGBjNzbgs3j1nus+fMndc+Cwm0T52/oNR9lsdC
              S24ra7Tq1cbWjpXV3sHRCb1idXZ0sGdltXNxRateRwHRAACYHutzk/2I5QAAACV0RVh0ZGF0ZTpj
              cmVhdGUAMjAyMy0wMi0xM1QwODoxNToyOSswMDowMEUnN7UAAAAldEVYdGRhdGU6bW9kaWZ5ADIw
              MjMtMDItMTNUMDg6MTU6MjkrMDA6MDA0eo8JAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDIzLTAy
              LTEzVDA4OjE1OjI5KzAwOjAwY2+u1gAAAABJRU5ErkJggg=="></image>
                            </svg>
                                        <svg version="1.1" class="contactless" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 50 50" xml:space="preserve">  <image id="image0" width="50" height="50" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
              AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
              cwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0IEzgIwaKTAAADDklEQVRYw+1XS0iUURQ+f5qPyjQf
              lGRFEEFK76koKGxRbWyVVLSOgsCgwjZBJJYuKogSIoOonUK4q3U0WVBWFPZYiIE6kuArG3VGzK/F
              fPeMM/MLt99/NuHdfPd888/57jn3nvsQWWj/VcMlvMMd5KRTogqx9iCdIjUUmcGR9ImUYowyP3xN
              GQJoRLVaZ2DaZf8kyjEJALhI28ELioyiwC+Rc3QZwRYyO/DH51hQgWm6DMIh10KmD4u9O16K49it
              VoPOAmcGAWWOepXIRScAoJZ2Frro8oN+EyTT6lWkkg6msZfMSR35QTJmjU0g15tIGSJ08ZZMJkJk
              HpNZgSkyXosS13TkJpZ62mPIJvOSzC1bp8vRhhCakEk7G9/o4gmZdbpsTcKu0m63FbnBP9Qrc15z
              bkbemfgNDtEOI8NO5L5O9VYyRYgmJayZ9nPaxZrSjW4+F6Uw9yQqIiIZwhp2huQTf6OIvCZyGM6g
              DJBZbyXifJXr7FZjGXsdxADxI7HUJFB6iWvsIhFpkoiIiGTJfjJfiCuJg2ZEspq9EHGVpYgzKqwJ
              qSAOEwuJQ/pxPvE3cYltJCLdxBLiSKKIE5HxJKcTRNeadxfhDiuYw44zVs1dxKwRk/uCxIiQkxKB
              sSctRVAge9g1E15EHE6yRUaJecRxcWlukdRIbGFOSZCMWQA/iWauIP3slREHXPyliqBcrrD71Amz
              Z+rD1Mt2Yr8TZc/UR4/YtFnbijnHi3UrN9vKQ9rPaJf867ZiaqDB+czeKYmd3pNa6fuI75MiC0uX
              XSR5aEMf7s7a6r/PudVXkjFb/SsrCRfROk0Fx6+H1i9kkTGn/E1vEmt1m089fh+RKdQ5O+xNJPUi
              cUIjO0Dm7HwvErEr0YxeibL1StSh37STafE4I7zcBdRq1DiOkdmlTJVnkQTBTS7X1FYyvfO4piaI
              nKbDCDaT2anLudYXCRFsQBgAcIF2/Okwgvz5+Z4tsw118dzruvIvjhTB+HOuWy8UvovEH6beitBK
              xDyxm9MmISKCWrzB7bSlaqGlsf0FC0gMjzTg6GgAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjMtMDIt
              MTNUMDg6MTk6NTYrMDA6MDCjlq7LAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIzLTAyLTEzVDA4OjE5
              OjU2KzAwOjAw0ssWdwAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyMy0wMi0xM1QwODoxOTo1Nisw
              MDowMIXeN6gAAAAASUVORK5CYII="></image>
                            </svg>
                                        <p class="number">9759 2484 5269 6576</p>
                                        <p class="valid_thru">VALID THRU</p>
                                        <p class="date_8264">1 2 / 2 4</p>
                                        <p class="name">BRUCE WAYNE</p>
                                    </div>
                                    <div class="flip-card-back">
                                        <div class="strip"></div>
                                        <div class="mstrip"></div>
                                        <div class="sstrip">
                                            <p class="code">***</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br /><br />

                            <div class="form">
                                <div class="card space icon-relative" style="border: none;">
                                    <label class="label" for="cc-name">الاسم كامل الظاهر في البطاقة</label>
                                    <input type="text" class="form-control" style="text-align:center" placeholder="Coding Market" required="">
                                    <i class="fas fa-user"></i>
                                    <div class="invalid-feedback">
                                        اسم البطاقة مطلوب
                                    </div>
                                </div>
                                <div class="card space icon-relative" style="border: none;">
                                    <label class="label" for="cc-number">رقم البطاقة</label>
                                    <input type="text" class="form-control" style="text-align:center" data-mask="0000 0000 0000 0000" placeholder="Card Number" required="">
                                    <i class="far fa-credit-card"></i>
                                    <div class="invalid-feedback">
                                        رقم البطاقة مطلوب
                                    </div>
                                </div>
                                <div class="card-grp space">
                                    <div class="card-item icon-relative" style="border: none;">
                                        <label class="label" for="cc-expiration">تاريخ الانتهاء</label>
                                        <input type="text" name="expiry-data" style="text-align:center" class="form-control" data-mask="00 / 00" placeholder="00 / 00" required="">
                                        <i class="far fa-calendar-alt"></i>
                                        <div class="invalid-feedback">
                                            تاريخ انتهاء البطاقة مطلوب
                                        </div>
                                    </div>
                                    <div class="card-item icon-relative">
                                        <label class="label" for="cc-cvv">رقع تعريف البطاقة</label>
                                        <input type="text" class="form-control" style="text-align:center" data-mask="000" placeholder="000" required="">
                                        <i class="fas fa-lock"></i>
                                        <div class="invalid-feedback">
                                            كود تعريف البطاقة مطلوب
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr class="mb-4">

                            <button type="submit" id="buttonPay"><span class="text">شراء الان</span><span>$ @total</span></button>
                        </form>
                    </div>
                </div>

            </div>
            <form id="deleteForm" asp-controller="Home" asp-action="Delete" method="post">
                <input type="hidden" Name="ProductId" id="ProductId" />
            </form>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding:30px;text-align: center;">
                        <button style="left: -50%;">
                            <div class="default-btn">
                                <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFF" height="20" width="20" viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle r="3" cy="12" cx="12"></circle></svg>
                                <span>
                                    سلة مشترياتي فارغة
                                </span>
                            </div>
                            <div class="hover-btn" onclick="location.href='@Url.Action("Index", "Home")'">
                                <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#ffd300" height="20" width="20" viewBox="0 0 24 24"><circle r="1" cy="21" cx="9"></circle><circle r="1" cy="21" cx="20"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                <span style="color: white;">
                                    مواصلة التسوق
                                </span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('.deleteBtn').click(function (e) {
                swal({
                    title: "عملية حذف?",
                    text: "هل انت متاكد من عملية الحذف?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#ProductId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script type="text/javascript">
        function increaseCount(e) {
            var input = e.previousElementSibling;
            var value = parseInt(input.value);
            input.value = isNaN(value) ? 1 : value + 1;
            calculateTotal(input);
        }

        function decreaseCount(e) {
            var input = e.previousElementSibling.previousElementSibling;
            var value = parseInt(input.value);
            input.value = isNaN(value) ? 1 : value - 1;
            calculateTotal(input);
        }

        function calculateTotal(e) {
            var row = e.parentElement.parentElement.parentElement;
            var price = row.children[1].children[0].innerText;
            var count = e.value;
            var total = price * count;
            row.children[2].children[0].innerText = total;

            var rows = document.querySelectorAll('.table__body tbody tr');
            var sum = 0;
            for (var i = 0; i < rows.length; i++) {
                sum += parseInt(rows[i].children[2].children[0].innerText);
            }

            document.getElementById('total').innerText = sum;
        }
    </script>
        }



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
