@inject MarketMadeinSudan.Application.Contracts.IAsyncRepository<MarketMadeinSudan.Domin.Publishers> publishers

<!DOCTYPE html>
<html lang="en">

<body>

    @model IEnumerable<MarketMadeinSudan.Domin.AgriculturalCrops>

    @{
        ViewData["Title"] = "Search";
    }
    <style>
        .place-bid-btn {
            background: var(--golden-puppy);
            color: var(--black);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: var(--fs-7);
            text-transform: capitalize;
            padding: 8px 16px;
            border-radius: 4px;
            opacity: 0;
            transition: var(--transition);
        }

            .custom-block:is(:hover, :focus) .place-bid-btn,
            .place-bid-btn:focus {
                transform: translate(-50%, -50%);
                opacity: 1;
            }

        /*رجوع خلف*/
        #btnBack {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
            background: none;
            color: white;
            position: relative;
            outline: none;
            border: none;
            height: 50px;
            width: 100%;
            font-size: 14px;
            z-index: 2;
            transition: 0.01s 0.23s ease-out all;
            overflow: hidden;
            background-color: #e1dfdf;
        }

            #btnBack:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 55%;
                background: #303030;
                z-index: -1;
                transition: 0.3s ease-in all;
            }

            #btnBack:after {
                content: "";
                position: absolute;
                left: -5%;
                top: 5%;
                height: 90%;
                width: 5%;
                background: white;
                transition: 0.4s 0.02s ease-in all;
            }

            #btnBack:hover {
                cursor: pointer;
                color: transparent;
            }

                #btnBack:hover:before {
                    left: 120%;
                    width: 25%;
                }

                #btnBack:hover:after {
                    left: 100%;
                    width: 70%;
                }

                #btnBack:hover > .icon-right.after:after {
                    left: -80px;
                    color: white;
                    transition: 0.2s 0.2s ease all;
                }

                #btnBack:hover > .icon-right.after:before {
                    left: -104px;
                    top: 14px;
                    opacity: 0.2;
                    color: white;
                }

        .icon-right {
            position: absolute;
            top: 0;
            right: 0;
        }

            .icon-right:after {
                font-family: "FontAwesome";
                content: "→";
                font-size: 24px;
                display: inline-block;
                position: relative;
                top: 26px;
                transform: translate3D(0, -55%, 0);
            }

            .icon-right.after:after {
                left: -250px;
                color: black;
                transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
            }

            .icon-right.after:before {
                content: "Click Me!";
                position: absolute;
                left: -230px;
                top: 14px;
                opacity: 0;
                transition: 0.2s ease-in all;
            }

        .signature {
            position: fixed;
            font-family: sans-serif;
            font-weight: 100;
            bottom: 10px;
            left: 0;
            letter-spacing: 4px;
            font-size: 10px;
            width: 100%;
            text-align: center;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }

    </style>
    <div style="padding:150px 40px 150px 40px;direction: rtl;">
        <div class="row">
            @foreach (var SubItem in Model)
            {
                <div class="col-md-3 col-xl-3 col-sm-12 col-lg-3 col hvr-grow">
                    <div class="custom-block custom-block-full">
                        <div class="custom-block-image-wrap">
                            <img src="data:image/*;base64,@(Convert.ToBase64String(@SubItem.ImageUrl))" class="custom-block-image img-fluid" alt="">
                        </div>

                        <div class="custom-block-info">
                            <h5 class="mb-2" style="text-align: center;color: cadetblue;">
                                @Html.DisplayFor(modelItem => SubItem.AgriculturalCropsName)
                            </h5>
                            @{
                                string str = SubItem.Description;
                                if (str.Length > 200)
                                {
                                    <p class="mb-0">@str.Substring(0, 200))</p>
                                }
                                else
                                {
                                    <p class="mb-0">@SubItem.Description</p>

                                }
                            }

                            <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                <span style="color: darkcyan;font-size: 25px;">
                                    السعر :
                                    @Html.DisplayFor(modelItem => SubItem.Pirce) $
                                </span>
                            </div>
                            <div class="profile-block d-flex">
                                @{
                                    @if (publishers.GetAll().Any(x => x.PublishersId == SubItem.PublishersId))
                                    {
                                        <img class="profile-block-image img-fluid" alt="" src="data:image/*;base64,@(Convert.ToBase64String(SubItem.Publishers.ImageCompany))" />
                                    }
                                }
                                <p style="margin-right: 15px;color: mediumseagreen;font-family: system-ui;">
                                    الشركة المصنعة :
                                    <strong>@Html.DisplayFor(modelItem => SubItem.NameCompany)</strong>
                                </p>
                            </div>
                            <div class="place-bid-btn">
                                @Html.ActionLink("التفاصيل", "DetailAgriculturalCrops", new { id = SubItem.AgriculturalCropsId}, new { @class = "btn btn-info hvr-bob" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <br />
        <button id="btnBack" onclick="location.href='@Url.Action("Index", "Home")'">
            <span class="icon-right"></span>
            <span class="icon-right after"></span>
            رجوع للخلف
        </button>

    </div>
</body>
</html>
